@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";

.Header {
  padding: 1em 3em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/img/netflixlist.jpeg");
  background-position: center;
  background-size: 50% 100%;

  &-content {
    .top-panel {
      display: flex;
      justify-content: space-between;

      .btn-add-movie {
        cursor: pointer;
        font-size: 1.3em;
        border: none;
        border-radius: 5px;
        font-weight: 500;
        background-color: rgba(181, 181, 181, .4);
        padding: 8px 20px;
        letter-spacing: 1px;
        color: $pink;

        &:hover {
          background-color: rgb(89, 89, 89, .4);
        }

        &:active {
          background-color: rgb(89, 89, 89, .1);
        }

        &:focus {
          outline: none;
        }
      }
    }

    .search-panel {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 60px 120px;

      &-label {
        color: $white;
        width: 100%;
        font-size: 3em;
        font-weight: 100;
        margin-bottom: 30px;
        letter-spacing: 2px;
      }

      &-input {
        color: $white;
        background-color: rgba(31, 31, 31, 0.6);
        flex: 2;
        font-size: 20px;
        padding: 10px;
        width: 50%;
        border: none;
        border-radius: 5px;
      }

      &-button {
        @include btn(
          250px,
          $white,
          none,
          $pink,
          $pink-light,
          $pink-dark
        );
      }
    }
  }
}