@import "../../../assets/scss/colors";

.NavBar {
  display: flex;
  padding: 0;
  color: $white;

  li {
    cursor: pointer;
    font-weight: 400;
    list-style-type: none;
    margin-right: 2em;

    &.active,
    &:hover {
      border-bottom: 2px solid $pink;
    }
  }
}